[user]
  name = Colm Quish
	email = colmquish@gmail.com

[core]
  editor = code -w
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = main

[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
  lg = log --oneline --graph --decorate --all
